.bravo-table {
    width: 100%;
    max-width: 100%;
    .bravo-table__empty-text {
        text-align: center;
        color: #909399;
        line-height: 60px;
        font-size: 14px;
        font-weight: 200;
    }
    .table-header-wrapper {
        background-color: #fff;
    }
    .table-body-wrapper {
        border-bottom: 1px solid #EBEEF5;
    }
}
table {
    width: 100%;
    max-width: 100%;
    border: 0 none;
    font-size: 14px!important;
    font-family: sans-serif;
    border-collapse: collapse;
    letter-spacing: 1px;
    td {
        overflow: hidden;
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: normal;
        word-break: break-all;
    }
    td,
    th {
        padding: 12px 0;
        text-align: left;
    }
    th {
        font-weight: bold;
    }
    tr {
        border-bottom: 1px solid #EBEEF5;
    }
    thead {
        color: #909399;
    }
    tbody {
        color: #606266;
        tr:hover {
            background-color: rgba(0,0,0,.02);
        }
        tr:last-child {
            border-bottom: 0 none;
        }
    }
    .cell {
        line-height: 23px;
    }
}