.bravo-table {
    overflow: hidden;
    width: 100%;
    max-width: 100%;
    border: 1px solid #EBEEF5;
    .bravo-table__empty-text {
        text-align: center;
        color: #909399;
        line-height: 60px;
        font-size: 14px;
        font-weight: 200;
    }
    .table-header-wrapper, .table-body-wrapper {
        width: 100%;
        max-width: 100%;
    }
}
.bravo-table.bravo-table--striped {
    tbody {
        tr:nth-child(even) {
            background-color: #fafafa;
        }
        tr:hover {
            background-color: aliceblue;
        }
    }
}
table {
    width: 100%;
    max-width: 100%;
    border: 0 none;
    font-size: 12px!important;
    font-family: sans-serif;
    border-collapse: collapse;
    letter-spacing: 1px;
    box-sizing: border-box;
    td {
        overflow: hidden;
        box-sizing: border-box;
        text-overflow: ellipsis;
        white-space: normal;
        word-break: break-all;
    }
    td,
    th {
        box-sizing: border-box;
        padding-top: 12px;
        padding-left: 8px;
        padding-bottom: 12px;
        text-align: left;
    }
    th {
        position: relative;
        font-weight: bold;
        .csv-export {
            position: absolute;
            right: 0;
            top: 0;
            cursor: pointer;
        }
    }
    tr {
        border-bottom: 1px solid #EBEEF5;
    }
    thead {
        color: #909399;
        background-color: #fff;
    }
    tbody {
        color: #606266;
        background-color: #fff;
        tr:hover {
            background-color: aliceblue;
        }
        tr:last-child {
            border-bottom: 0 none;
        }
    }
    .cell {
        display: inline-block;
        line-height: 23px;
        box-sizing: border-box;
        .arrow-expand {
            margin-top: 5px;
            display: block;
            cursor: pointer;
            &:hover {
                color: red;
            }
        }
        .caret-wrapper {
            position: relative;
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            height: 34px;
            width: 24px;
            vertical-align: middle;
            cursor: pointer;
            .sort-caret {
                width: 0;
                height: 0;
                border: 5px solid transparent;
                position: absolute;
                left: 7px;
            }
            .ascending {
                top: 5px;
                border-bottom-color: #c0c4cc;
            }
            .ascending.active {
                border-bottom-color: #409eff;
            }
            .descending {
                border-top-color: #c0c4cc;
                bottom: 7px;
            }
            .descending.active {
                border-top-color: #409eff;
            }
        }
    }
}